<form (ngSubmit)="copy()">
  <table>
    <tr *ngFor="let _ of iteree; index as i">
      <td><label for="key{{i}}">Key {{i + 1}}:</label></td>
      <td>
        <input
          id="key{{i}}"
          name="key{{i}}"
          [(ngModel)]="keys[i]"
          [autofocus]="i === 0"
        >
      </td>
    </tr>
    <tr>
      <td><label for="secret">Secret Key:</label></td>
      <td>
        <input type="password" id="secret" name="secret" [(ngModel)]="secret">
      </td>
    </tr>
    <tr>
      <td><label for="confirm">Confirm:</label></td>
      <td>
        <input
          type="password"
          id="confirm"
          name="confirm"
          [(ngModel)]="confirm"
        >
      </td>
    </tr>
    <tr>
      <td><label for="length">Length:</label></td>
      <td>
        <input
          type="number"
          id="length"
          name="length"
          [(ngModel)]="length"
          min="1"
        >
      </td>
    </tr>
  </table>
  <div>
    <label>
      <input type="checkbox" name="letters" [(ngModel)]="letters">
      Include Letters
    </label>
  </div>
  <div>
    <label>
      <input type="checkbox" name="numbers" [(ngModel)]="numbers">
      Include Numbers
    </label>
  </div>
  <div>
    <label>
      <input type="checkbox" name="special" [(ngModel)]="special">
      Include Special Characters
    </label>
  </div>
  <div>
    <label>
      <input type="checkbox" name="show" [(ngModel)]="show">
      {{getMessage()}}
    </label>
    <button type="submit" [disabled]="!isConfirmed()">Copy</button>
  </div>
</form>
