mat-card {
  max-width: 400px;
  margin: auto;
}

mat-form-field {
  width: 100%;
}

.spreader {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.shown {
  font-family: monospace;
}
