<mat-card appearance="outlined">
  <mat-card-content>
    <form autocapitalize="off" (ngSubmit)="copy()">
      @for (_ of iteree; track i; let i = $index) {
        <app-key
          [label]="'Key ' + (i + 1)"
          [name]="'key' + (i + 1)"
          [autofocus]="i === 0"
          [(ngModel)]="keys[i]"
        />
      }
      <app-key
        label="Secret Key"
        name="secret"
        [secret]="true"
        [(ngModel)]="secret"
      />
      <app-key
        label="Confirm"
        name="confirm"
        [secret]="true"
        [(ngModel)]="confirm"
      />
      <mat-form-field>
        <mat-label>Length</mat-label>
        <input
          matInput
          type="number"
          name="length"
          min="1"
          [(ngModel)]="length"
        />
      </mat-form-field>
      <div>
        <mat-checkbox name="letters" [(ngModel)]="letters">
          Include Letters
        </mat-checkbox>
      </div>
      <div>
        <mat-checkbox name="numbers" [(ngModel)]="numbers">
          Include Numbers
        </mat-checkbox>
      </div>
      <div>
        <mat-checkbox name="special" [(ngModel)]="special">
          Include Special Characters
        </mat-checkbox>
      </div>
      <div class="spreader" [class.mono-box]="show">
        <mat-checkbox name="show" [(ngModel)]="show">
          {{ getMessage() }}
        </mat-checkbox>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!isConfirmed()"
        >
          Copy
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
