@use "@angular/material" as mat;
@use "to-replace/ng-mat-core/theming" as slibs;

$theme-config: (
  dark-color: (
    primary: mat.define-palette(mat.$light-blue-palette),
    accent: mat.define-palette(mat.$orange-palette, A200, A100, A400),
  ),
  light-color: (
    primary: mat.define-palette(mat.$blue-palette),
    accent: mat.define-palette(mat.$orange-palette, A400, A200, A700),
  ),
  typography: mat.define-typography-config("sans-serif"),
  modules: (
    "core",
    "button",
    "card",
    "checkbox",
    "form-field",
    "input",
    "list",
  ),
);
@include slibs.full-theming($theme-config);

.mono-box {
  @include mat.checkbox-typography(
    mat.define-typography-config($font-family: "monospace")
  );
}

body {
  height: 100vh;
  margin: 0;

  display: grid;
  place-items: center;
}
