@use "@angular/material" as mat;
@use "../node_modules/@s-libs/ng-mat-core/theming";

@include theming.full-theming(
  $dark-palettes: (
    primary: mat.define-palette(mat.$light-blue-palette),
    accent: mat.define-palette(mat.$orange-palette, A200, A100, A400),
  ),
  $light-palettes: (
    primary: mat.define-palette(mat.$blue-palette),
    accent: mat.define-palette(mat.$orange-palette, A400, A200, A700),
  ),
  $modules: (
    "core",
    "button",
    "card",
    "checkbox",
    "form-field",
    "input",
    "list",
  )
);

.mono-box {
  @include mat.checkbox-typography(
    mat.define-typography-config($font-family: "monospace")
  );
}

body {
  height: 100vh;
  margin: 0;

  display: grid;
  place-items: center;
}
